@using System.Web;
@using System.Web.Optimization;
@{
    ViewData["Title"] = "Chromat - nie tylko fotografia";
}
@if(ViewData["Message"] != null) {
<div class="goodMessage fadeable">
    <p>@ViewData["Message"]</p>
</div>
} else if(ViewData["ErrorMessage"] != null) {
<div class="errorMessage fadeable">
    <p>@ViewData["ErrorMessage"]</p>
</div>
}
<!-- Start Home Section -->
<div id="home">
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#"><img src="img/logosmall.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>

	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="#home">Początek</a></li>
			<li class="nav-item"><a class="nav-link" href="#welcome">O nas</a></li>
			<li class="nav-item"><a class="nav-link" href="#products">Produkty</a></li>
			<li class="nav-item"><a class="nav-link" href="#pricetab">Cennik</a></li>
			<li class="nav-item"><a class="nav-link" href="#echromat">Zamówienie przez internet</a></li>
			<li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
		</ul>
	</div>
</nav>
<!-- End Navigation -->
<!-- Start Landing Page Section -->
<div class="landing">
	<div class="home-wrap">
		<div class="home-inner">

		</div>
	</div>
</div>

<div class="caption text-center">
	<img src="img/logochr.png">
	<h1>Witamy na stronie</h1>
	<h3>Chromat - Nie tylko fotografia</h3>
	<a class="btn btn-outline-light btn-lg" href="#welcome">Zaczynamy</a>
</div>
<!-- End Landing Page Section -->

</div>
<!-- End Home Section -->

<!-- Start Course Section -->
<div id="welcome" class="offset">

<div class="col-12 narrow text-center">
	<h1>Firma fotograficzna Chromat sp. z o.o.</h1>
	<p class="lead">Witamy na stronie Chromatu - firmy fotograficznej z ponad 30-letnią tradycją.
	Zajmujemy się wieloma gałęziami fotografii, od zwykłych odbitkek, poprzez gadżety z nadrukami, takie jak
	puzzle, kubki, poduszki i wiele innych, po wydruki wielkoformatowe i płótna.</p>
	<h3><b>UWAGA:</b></h3>
	<p class="lead">Ze względu na pandemię koronawirusa sklep będzie otwarty w następujących godzinach:</p>
	<table class="none" style="margin-left: auto; margin-right: auto">
		<tr>
           <td><b>PONIEDZIAŁEK-PIĄTEK</b></td>
           <td>9:00-13:00</td>
       </tr>
       <tr>
           <td><b>SOBOTA</b></td>
           <td>10:00-12:00</td>
       </tr>
    </table>
</div>

</div>
<!-- End Course Section -->

<!-- Start Features Section -->
<div id="products" class="offset">

<!-- Start Jumbotron -->
<div class="jumbotron">
<div class="narrow text-center">
	<div class="col-12">
		<h3 class="heading">PRODUKTY</h3>
		<div class="heading-underline"></div>
	</div>
	<div class="row text-center">
		<div class="col-md-4">
			<div class="feature">
				<i class="far fa-images fa-4x" data-fa-transform="shrink-3 up-5"></i>
				<h3>Odbitki</h3>
				<p>Wykonujemy odbitki zarówno w najpopularniejszych rozmiarach, jak i w niestandardowych. Przy większej ilości odbitek
				rabaty nawet do <b>45%</b>!</p>
			</div>
		</div>
                <div class="col-md-4">
			<div class="feature">
				<i class="fas fa-search-plus fa-4x" data-fa-transform="shrink-4 up-5"></i>
				<h3>Powiększanie zdjęć</h3>
                                <p>Możemy również wykonać Twoje zdjęcie na większych formatach. Nawet do <b>70x100cm</b>. W <a href="misc/cennik.pdf" target="_blank">cenniku</a> znaduje się aktualny koszt usługi.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature">
				<i class="far fa-image fa-4x" data-fa-transform="shrink-4 up-5"></i>
				<h3>Wydruki na płótnie</h3>
				<p>Wydrukujemy Twoje zdjęcie na płótnie, nadając mu niepowtarzalnego charakteru.</p>
			</div>
		</div>
                <div class="col-md-4">
			<div class="feature">
				<i class="fas fa-film fa-4x" data-fa-transform="shrink-4 up-5"></i>
				<h3>Przegrywamy kasety</h3>
                                <p>Przegrywamy kasety VHS, Video8, Digital8, Hi8, miniDV na DVD. W <a href="misc/cennik.pdf" target="_blank">cenniku</a> znaduje się aktualny koszt usługi.</p>
			</div>
		</div>
                <div class="col-md-4">
			<div class="feature">
				<i class="fas fa-coffee fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
				<h3>Gadżety</h3>
				<p>Tworzymy nadruki na różnych gadżetach, takich jak kubki, koszulki, poduszki, puzzle i inne.
					Zbiór wszystkich gadżetów znajdziesz na naszej aplikacji internetowej. Jeśli nie ma tego, czego szukasz -
					pisz. Zobaczymy, co da się zrobić :)</p>
			</div>
		</div>
                <div class="col-md-4">
			<div class="feature">
				<i class="fas fa-camera-retro fa-4x" data-fa-transform="shrink-4 up-5"></i>
				<h3>Retusz zdjęć</h3>
				<p>Jeśli masz starą, wyblakłą fotografię, przynieś ją do nas, a przywrócimy jej dawny blask! W <a href="misc/cennik.pdf" target="_blank">cenniku</a> znaduje się aktualny koszt usługi.</p>
			</div>
		</div>
	</div><!-- End Row -->
</div><!-- End Narrow -->
</div><!-- End Jumbotron -->


</div>
<!-- End Features Section -->

<!-- Start Resources Section -->
<div id="pricetab" class="offset">

<div class="fixed-background">

<div class="row dark text-center">
	<div class="col-12">
		<h3 class="heading">Cennik</h3>
		<div class="heading-underline"></div>
	</div>

	<div class="col-md-4">
		<h3>ODBITKI</h3>
		<div class="feature">
			<i class="fas fa-calculator fa-3x"></i>
		</div>
		<p>Tu możesz wyliczyć cenę swojego potencjalnego zamówienia na podstawie ilości i rozmiaru odbitek
                   (Według cen za zamówienie przez internet):</p>
		<div id="calc">
            @using (Html.BeginForm("Order", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                <select class="btn-outline-light calculator-res" v-model="resolution" v-on:change="Calculate" name="Rozmiar">
                    <option selected="selected" value="9x13">9x13</option>
                    <option value="10x15">10x15</option>
                    <option value="13x18">13x18</option>
                    <option value="15x21">15x21</option>
                    <option value="20x30">20x30</option>
                </select>
                <select class="btn-outline-light calculator-res" name="Powierzchnia">
                    <option value="mat">Mat</option>    
                    <option value="błysk">Błysk</option>    
                </select>
                <select class="btn-outline-light calculator-res" name="Wypelnienie">
                    <option value="ndop">Przytnij</option>    
                    <option value="dop">Dopasuj</option>    
                </select>
                <select class="btn-outline-light calculator-res" name="Sepia">
                    <option selected="selected" value="">Kolor</option>   
                    <option value="Czarno-białe">Czarno-białe</option>    
                    <option value="sepia">Sepia</option>    
                </select><br/>
                <input type="checkbox" class="btn-outline-light" style="margin-bottom: 10px;" name="Ramka"><span> Biała ramka</span>
                <br/>    
                <input type="file" class="btn btn-primary btn-md" style="background-color: rgba(0,0,0,0)" v-on:change="Calculate" id="Files" name="Pliki" multiple="true">
                <span class="message">Do zapłaty: {{message}}zł</span>
                <input type="hidden" v-model="message" v-bind:value="message" name="Cena" />
                <div class="modal" id="PD">
                    <div id="details" class="modalContent" v-if="amount != 0">
                        <span class="close" v-on:click="document.getElementById('PD').style.display = 'none';">&times;</span>
                        <div class="product detale" id="gallery">
                            <a class="prev" v-on:click="prev">&#10094</a>
                            <a class="next" v-on:click="next">&#10095</a>
                        </div>
                        <div id="personalData" class="detale">
                            <h3 id="headerPD">PODAJ DANE:</h3>
                            <input class="btn btn-md pd" type="text" name="Imie" placeholder="Imię" required="true"/><br/>
                            <input class="btn btn-md pd" type="text" name="Nazwisko" placeholder="Nazwisko" required="true"/><br/>
                            <input class="btn btn-md pd" type="email" name="Email" placeholder="E-mail" required="true"/><br/>
                            <input class="btn btn-md pd" type="tel" name="Nrtel" placeholder="Nr telefonu" required="true"/><br/>
                            <button type="submit" class="btn" onclick="return confirm('Jesteś pewien?')" style="border: 1px solid #aaa" name="submit">Zamów</button>
                        </div>
                        <span class="message">Do zapłaty: {{totalAmount}}zł</span>
                    </div>
                </div>
                

                <button type="button" id="order" v-on:click="order1" class="btn">Dalej</button>
            }    
			
		</div>
	</div>
	<div class="col-md-4">
		<h3>ZDJĘCIA DO DOKUMENTÓW</h3>
		<div class="feature">
			<i class="far fa-id-card fa-3x"></i>
		</div>
                <table class="table pricetab">
                    <thead>
                        <tr>
                            <th>Typ dokumentu</th>
                            <th>Ilość sztuk</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>legitymacja</td>
                            <td>4 szt.</td>
                            <td>26,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>8 szt.</td>
                            <td>32,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>dodatkowa odbitka</td>
                            <td>2,50zł</td>
                        </tr>
                        <tr>
                            <td>Paszport, dowód, wiza, prawo jazdy</td>
                            <td>4 szt.</td>
                            <td>31,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>8 szt.</td>
                            <td>37,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>dodatkowa odbitka</td>
                            <td>2,50zł</td>
                        </tr>
                        <tr>
                            <td>Dyplom</td>
                            <td>4 szt.</td>
                            <td>32,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>8 szt.</td>
                            <td>38,90zł</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Możliwa liczba odbitek: 4,8,12 itd.</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
	</div>
	<div class="col-md-4">
		<h3>WYDRUKI NA PŁÓTNIE</h3>
		<div class="feature">
			<i class="fas fa-image fa-3x"></i>
		</div>
                <table class="table pricetab" style="width: 70%; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th>Format w cm</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20x30</td>
                            <td>43,00zł</td>
                        </tr>
                        <tr>
                            <td>30x42</td>
                            <td>52,00zł</td>
                        </tr>
                        <tr>
                            <td>40x50</td>
                            <td>65,00zł</td>
                        </tr>
                        <tr>
                            <td>40x60</td>
                            <td>69,00zł</td>
                        </tr>
                        <tr>
                            <td>50x70</td>
                            <td>85,00zł</td>
                        </tr>
                        <tr>
                            <td>60x90</td>
                            <td>105,00zł</td>
                        </tr>
                        <tr>
                            <td>70x100</td>
                            <td>139,00zł</td>
                        </tr>
                        <tr>
                            <td>100x100</td>
                            <td>150,00zł</td>
                        </tr>
                        <tr>
                            <td>100x150</td>
                            <td>195,00zł</td>
                        </tr>
                        <tr>
                            <td>100x200</td>
                            <td>260,00zł</td>
                        </tr>
                    </tbody>
                </table>
	</div>
    <div class="col-12">
        <a class="btn btn-secondary btn-md" href="misc/cennik.pdf" target="_blank">Pełny cennik dostępny jest tutaj</a>
    </div>
</div><!-- End Row Dark -->
	<div class="fixed-wrap">
		<div class="fixed">
		</div>
	</div>
</div><!-- End Fixed Background -->

</div>
<!-- End Resources Section -->

<!-- Start Clients Section -->
<div id="echromat" class="offset">

<div class="col-12 narrow text-center">
    <p class="lead">Zapraszamy do skorzystania z naszych aplikacji do składania zamówień przez internet!
                    W aplikacji internetowej znajduje się także spis gadżetów i&nbsp;tekstyliów, na które wykonujemy nadruki
                    (wraz z cenami). Jeśli masz jakiś problem z aplikacją, prosimy o kontakt.</p>
	<a class="btn btn-secondary btn-md" href="https://e.chromat.pl" target="_blank">Aplikacja internetowa (jak na razie max. 199 plików/ZLECENIE)</a>
	<a class="btn btn-secondary btn-md" href="aplikacja/aplikacja.html" target="_blank">Aplikacja, którą mozesz zainstalować na komputerze z systemem windows</a>
</div>

</div>
<!-- End Clients Section -->

<!-- Start Contact Section -->
<div id="contact" class="offset">

<footer>
<div class="row justify-content-center">
	<div class="col-md-6 text-center">
		<img src="img/logosmall.png">
		<p>Staramy się służyć naszym doświadczeniem, aby maksymalnie umilić Ci interakcję z naszą firmą.</p>
                <div class="row">
                    <div class="col-md-6">
                        <h5><b>Informacje kontaktowe</b></h5>
		<table class="none" style="margin-left: auto; margin-right: auto">
                    <tr>
                        <td><b>Adres:</b></td>
                        <td>32-600 Oświęcim, ul. Mickiewicza 6</td>
                    </tr>
                    <tr>
                        <td><b>Nr tel:</b></td>
                        <td>(33) 842-66-98</td>
                    </tr>
                    <tr>
                        <td><b>E-mail:</b></td>
                        <td>sklep@chromat.pl</td>
                    </tr>
                </table>
                </div>
                <div class="col-md-6">
                    <h5><b>Aktualne godziny otwarcia</b></h5>
                    <table class="none" style="margin-left: auto; margin-right: auto">
                    <tr>
                        <td><b>PONIEDZIAŁEK-PIĄTEK</b></td>
                        <td>9:00-13:00</td>
                    </tr>
                    <tr>
                        <td><b>SOBOTA</b></td>
                        <td>10:00-12:00</td>
                    </tr>
                    <tr>
                        <td><b>NIEDZIELE, ŚWIĘTA, WIGILIA, WIELKI PIĄTEK, WIELKA SOBOTA</b></td>
                        <td>nieczynne</td>
                    </tr>
                </table>
                </div>
                </div>
		<a href="https://www.facebook.com/Chromat-296969173751477/" target="_blank"><i class="fab fa-facebook-square"></i></a>
		<a href="https://e.chromat.pl" target="_blank"><i class="fab fa-chrome"></i></a>
		<a href="mailto:sklep@chromat.pl" target="_blank"><i class="fas fa-at"></i></a>
	</div>

</div>
</footer>

</div>
<!-- End Contact Section -->

<!--- Script Source Files -->
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/bootstrap-4.1.3-dist/js/bootstrap.min.js")
@Scripts.Render("https://use.fontawesome.com/releases/v5.5.0/js/all.js")
@Scripts.Render("~/Scripts/script.js")
<!--- End of Script Source Files -->
